{% extends 'base.html' %}
{% block head%}{% endblock %}

{% block body%}
<div id="div1-1">
    <div style="padding-bottom: 40px;"></div>
    <h2>Mon avis sur le iDSD signature (et autres dac high end)</h2>
    <div style="padding-bottom: 10px;"></div>
    <p>
        Je met ça rapidement ici pour donner mon avis actuel (du lundi 29 mai 2023 au lieu de réviser le BAC) sur le
        iDSD Signature de ifi, car je sais pas quoi en penser de ce dac/amp combo.
    </p>
    <p>
        Déjà le contexte: le ifi iDSD Signature est un DAC AMP combo ayant la particularité d'être particulièrement
        petit, ce qui le rend transportable assez facilement. Comme à l'habitude de la marque, ce dernier utilise deux
        chips Burr Brown et supporte le MQA (lol), le DSD512 et des flux PCM
        ayant de 44.1kHz à 768kHz. Il possède aussi d'autres features, comme le IEmatch qui permet de réduire la
        puissance de sortie, le Xbass qui permet d'augmenter le niveau sonore des infra-basses, le 3D+ qui rajoute du
        crossfeed sur toute la plage de fréquence ou encore un interrupteur qui
        permet de changer le filtre de reconstruction (entre le standard avec une réponse en phase linéaire, un autre
        avec une réponse en phase minimale, et un filtre semi R2R sur 6 bits).
    </p>
    <p>
        Maintenant voilà mon problème: ce DAC/amp combo coûte 700 boules, et je regrette de pas n'avoir acheté les deux
        séparémment. Son son peut être fantastique, je ne dis pas le contraire, mais uniquement lorsque qu'il est
        associé avec un certain type de casque.
    </p>
    <p>
        Lien du produit:
        <a href="https://ifi-audio.com/products/micro-idsd-signature/" target="_blank"
            class="link">https://ifi-audio.com/products/micro-idsd-signature/</a>
    </p>
    <div class="center noborder">
        <img src="static\img\idsd\idsdphoto.jpg">
        <p class="keqing">
            Le design est cool quand même !
        </p>
    </div>
</div>
<div></div>
<div id="normal">
    <h2>D'un point de vue objectif</h2>
    <p>
        <a href="https://cdn.discordapp.com/attachments/856928850503008287/857304834305949776/iDSD_Signature_Bal_headphone_out.pdf"
            target="_blank" class="link">[Voici les mesures du DAC, réalisé par Golden Sound. (PDF)]</a>
    </p>
    <p>
        (note: J'ai écouté le DAC bien avant de regarder les mesures pour ne pas être trop biaisé.)
    </p>
    <p>
        Le DAC ne se débrouille pas si mal. Evidemment, ce n'est pas parfait: on a pas mal de crosstalk, un THD
        relativement élevé, une linéarité assez moyenne, et on a pas un SINAD de 120dB comme avec les DAC de Topping, ni
        un filtre de reconstruction de 300 millards de taps comme chez Chord,
        mais bon si c'est pour avoir un son avec un minimum de vie je ne dis clairement pas non.
    </p>
    <p>
        En regardant d'ailleurs le spectre audio de la sinulsoïde à 1kHz, on remarque que sa distortion harmonique est
        assez consistante et s'étend assez loin en fréquence (~3 harmoniques), ce qui peut être signe d'un son assez
        soft, moins analytique.
        Le crosstalk quant à lui est plus focus dans les aigus, ce qui est une technique que je retrouve pas mal chez
        les DAC de ifi, il donne une impression d'une plus grande scène sonore, et ça marche plutôt bien.
    </p>
    <h2>D'un point de vue subjectif</h2>
    <p>
        (Testé avec la chaîne audio suivante: PC -> Roon -> HQPlayer: poly-sinc-gauss-xla+LNS15 en x16 PCM
        (705.6kHz/768kHz) -> iDSD Signature -> principalement Hifiman Sundara/Moondrop Blessing2)
    </p>
    <p>
        La petite histoire: je demande en mai 2022 (un an déjà le temps passe vite..) ce dac pour mon anniversaire. Le
        mois qui suit, je le reçois et je m'empresse d'aller le tester. Je n'étais pas chez moi, mais j'avais quand même
        ramené le Hifiman Sundara au cas où.
        Pour ma première écoute, je décide de mettre sur Roon avec HQPlayer <i>Drops of Time</i>, un OST de
        <a href="https://open.spotify.com/album/2rdPLD1XUQ6iN1KeQ0wrzu?si=xryg7MI1RZylXzv58_PXJA" target="_blank"
            class="link"> l'album de Sangonomiya de Genshin</a>,
        et, je ne sais pas ce qui a causé ça, peut être la musique, le contexte, la hype, mais ca m'avait profondémment
        bluffé. Il est clair que je n'avais jamais écouté quelque chose de tel auparavant.
    </p>
    <p>
        Evidemment aujourd'hui, je pense avoir assez de recul pour dire que cette réaction était exagérée. Bien joué,
        ifi, vous m'avez eu.
    </p>
    <h3>Tonalité</h3>
    <p>
        Ca peut paraitre loufoque, mais je trouve le DAC assez..sombre, mais très fun. Les basses ne sont malheuresement
        pas super rapides mais ont beaucoup de corps, un vrai impact. Les médiums sont un des points fort
        du DAC: son timbre est à des années lumièes de tous les DAC/amp que j'ai pu écouter jusqu'à aujourd'hui
        (Dragonfly Red, Topping E30, SABAJ A10h, Zen Dac V2, celui du note9), les voix (surtout d'hommes) sont justes,
        et tout ce qui est
        violon, piano, instrument à vent, est très agréable à écouter. Les aigus en revanche, c'est une autre histoire.
        A mon gout, ils sont trop en retrait et arrondis sur les bords. Ils sont précis, certes (déjà plus que le
        DAC de mon téléphone), mais pas assez imposants. Résultat: le son paraît pas très détaillé, ce qui est dommage
        parce que le DAC à tellement à proposer.
    </p>
    <h3>Niveau de détails</h3>
    <p>
        Malgré ce défaut, le DAC donne relativement beaucoup d'informations sur la musique, il sont juste plus
        difficiles à entendre car en retrait et cela est regrettable.
    </p>
    <h3>Scène sonore</h3>
    <p>
        Même constat qu'avec le Zen Dac V2, la scène sonore est insane. Elle est large mais a aussi de la profondeur.
        C'est je pense ce qui joue le plus dans le "wow effect" des DAC ifi, ils sont fort pour ça. Encore une fois, je
        pense que le crosstalk joue pas mal dans cette
        perception d'espace. Un conseil si vous avez un jour l'occasion de tester un dac/amp ifi, mettez un orchestre,
        un ost ou je ne sais quoi enregistré en binaural, et laissez-vous emporter par la musique.
    </p>
    <h3>Imaging</h3>
    <p>
        A propos de la séparation des instruments, le Signature fait un excellent job, il est là aussi supérieur aux
        autres DAC testés précédemment: il est très simple de dintinguer les différents instruments qui compose un
        orchestre par exemple (à condition que l'enregistrement soit de qualité), mais malheuresement..
    </p>
    <h3>Transitoires</h3>
    <p>
        ..les transitoires ne sont juste pas bons avec le Signature. Ce n'est pas très génant sur le Sundara vu la
        nature du casque, mais sur des Iems comme le Moondrop Blessing2 c'est vraiment
        pas satisfaisant à écouter.
    </p>
    <p>
        Voilà mon problème, je ne trouve pas normal de préférer le son de mon téléphone avec des Iems comparé à un
        Dac/amp aussi cher. J'étais assez délusionel avant,
        et j'ai souvent essayé de me convraincre (à raison au final) que je préférais le iDSD à mon teléphone lorsqu'il
        était associé à mes blessing2, mais ce manque de transitoires et
        d'aigus étaient vraiment un moins pour moi. Maintenant, je dirais que ma préférence dépend de mon humeur, j'aime
        bien alterner entre les deux.
    </p>
    <h3>Conclusion</h3>
    <p>
        Est-ce que c'est un mauvais DAC ? Certainement pas. Est-ce que cette qualité audio en vaut le prix ? Peut être,
        mais sa versatilité absolument pas. En tout cas, si vous décidez
        d'améliorer votre chaine audio un jour, je vous déconseille d'acheter un Dac/amp combo. Dirigez-vous plutôt vers
        des DAC et amp plus classique, comme ceux de Schiit, Denafrips, ou Holo
        si vous êtes millionaire. <strong>Mais surtout, ne faites pas le con comme moi n'achetez pas un
            DAC/amp/casque aussi cher si vous ne pouvez pas l'écouter avant ou le renvoyer après.</strong>
    </p>
</div>
<div id="vide"></div>

</body>

</html>
{% endblock %}