{% extends 'base.html' %}
{% block head%}{% endblock %}

{% block body%}
<div id="div1" class="accueil center" style="margin-bottom: 30px;">
	<h4>1. Présentation</h4>
	<h2 id="bjr">Bonjour!</h2>
	<p><small>The website is currently being reworked. Execpt dirty html code in the source code :)</small></p>
	<p id="pres">
		Je suis Shewi, bien joué d'avoir trouvé mon site internet ! Tant que vous êtes là, permettez-moi de parler un
		peu de moi.
	</p>
	<p id="pres">
		J'ai 17 ans et suis en Terminale dans le lycée Chaptal, dans le 8ème arrondissement de Paris. Je suis un élève
		assez normal mais je m'investis dans ce que j'entreprends. Mes centres d'intérets sont en revanche très limités
		et je ne les partage pas souvent, c'est pourquoi j'aimerais élaborer dessus dans les pages qui suivent. Prenez
		une grande inspiration avant de plonger, car la route va être longue!
	</p>
	<img src="../static/img/home/keqingburger.png">
	<p class="keqing">
		Keqing,
		<br>
		mon personnage préféré du jeu
		<a href="https://fr.wikipedia.org/wiki/Genshin_Impact" target="_blank" class="link">Genshin Impact</a>.
	</p>
	<div></div>
	<div style="height: 30px; width: 30px; min-width: 0;" onclick="document.documentElement.scrollTop=950">
		<svg viewBox="0 0 100 70" fill="none">
			<line x1="0" y1="0" x2="50" y2="50" style="stroke: rgb(255, 255, 255); stroke-width: 7px"></line>
			<line x1="100" y1="0" x2="50" y2="50" style="stroke: rgb(255, 255, 255); stroke-width: 7px"></line>
		</svg>
	</div>
</div>
<div id="div2" class="cache">
	<h4>2. Centres d'intérets</h4>
	<h2>Le son, un deep dive dans mon hobby</h2>
	<p>
		(Février 2023)
		<br>
		<br>
		Premièrement, j'aimerais vous parler d'une passion assez particulière: le son.
	</p>
	<p>
		Bon d'abord, je ne vais pas me faire passer pour un savant non plus, je n'ai d'ailleurs pas une connaissance
		détaillée sur tout le sujet et me concentre ici surtout sur le côté geek. Mais depuis 2017-2018,
		j'ai une obsession à toujours chercher à avoir la meilleure qualité audio possible avec la musique que j'écoute.
		J'essaye donc de comprendre les différentes caractéristiques de ce qu'on appelle le "son", et ce qui différencie
		vraiment un "mauvais son" d'un "bon son" pour un appareil donné (je ne vais pas rentrer dans les détails ici car
		ce n'est pas vraiment le sujet).
	</p>
	<p>
		Du coup, je collectionne tous types d'appareils ou d'accessoires hi-tech
		en rapport avec l'audio, que ça soit: des casques "hi-fi" (comme
		<a href="https://hifiman.com/products/detail/286" target="_blank" class="link">celui-ci</a>
		que j'utilise en écrivant ces lignes), des dacs de toutes tailles (c'est un appareil qui convertit un signal
		numérique provenant d'un ordinateur par exemple, en un signal analogique), des amplis casques ou amps, des
		intras, des tws et encore plein d'autres.
		Au début j'étais contraint de beaucoup me renseigner sur les différents appareils que j'achetais (ce qui est
		toujours le cas ajourd'hui), et c'est en faisant cela que j'ai peu à peu développé un intéret pour ce domaine.
	</p>
	<h3>Les débuts</h3>
	<p>
		Cela a vraiment commencé - je m'en rappelle comme si c'était hier - quand mon frère m'a offert mon premier
		casque "gaming": le fameux HS50.
		Même s'il n'est pas bon aussi bien subjectivement qu'objectivement, j'étais sur le moment très content, étant
		donné que je n'avais jamais vraiment connu mieux.
		Puis, dans les jours et semaines qui ont suivi, je me suis renseigné sur ce dernier, et notamment un site
		s'appellant
		<a href="https://www.lesnumeriques.com/" target="_blank" class="link">les numériques</a>.
		C'est une information importante, car c'est l'un des rares sites français qui mesurent à proprement parler les
		casques qu'ils testent
		(même si je suis aujourd'hui contre de nombreuses méthodes qu'ils utilisent, mais là n'est pas le sujet).
		<br>
		J'ai donc grâce aux nombreux guides de ce site choisi plusieurs années plus tard un nouveau casque: le MDR-1AM2
		de Sony. Un casque d'avantage tourné vers le confort, et la qualité sonore. La différence était flagrante, et
		j'ai continué sur ma lancée.
		Avec un peu de recul aujourd'hui,je pense que ce n'était pas vraiment très compliqué de faire mieux.
	</p>
	<h3>La chute dans le rabbit hole</h3>
	<p>
		Plusieurs années sont passées, durant lesquelles j'ai corrigé certaines idées reçues que j'avait sur divers
		faits, acheté du nouvel équipement mais surtout découvert plein de choses !
		<br>Pour faire une brève rétrospective, je me renseignais surtout sur des sites ou des chaînes dites
		"grand-public", comme les numériques, cité précédemment, ou encore un youtubeur nommé
		<a href="https://www.youtube.com/@PPWorld" target="_blank" class="link">PP Garcia</a>
		qui donnait étonnamment BEAUCOUP d'informations erronées.
		Pour pouvoir donc approfondir le sujet, j'ai du très vite me tourner vers des sources anglophones: je pense que
		c'est à partir de ce moment que mon "hobby" est devenu sérieux.
		Je découvre comme un nouveau monde, et notamment: les différents types de
		<a href="https://www.rtings.com/headphones/learn/dynamic-vs-planar-magnetic" target="_blank"
			class="link">drivers</a>, de
		<a href="https://www.rtings.com/headphones/learn/open-vs-closed-back" target="_blank"
			class="link">constructions</a>
		d'un casque, la vraie importance et les propriétées des codecs et des formats audio (le nombre de fausses
		informations sur ces derniers est vraiment incroyable), mais surtout le concept de dac/amp et de
		<a href="https://xiph.org/video/vid1.shtml" target="_blank" class="link">signal numérique et analogique</a> .
		C'est ce qui est je trouve le plus intéressant.
	</p>
	<p>Pour vous donner une idée de la chose, je vais vous donner un exemple précis. J'ai découvert il y a 1 an et demi
		le site
		<a href="https://www.audiosciencereview.com/forum/index.php" target="_blank" class="link">audiosciencereview</a>
		(c'est un forum très populaire dans le domaine mais fortement critiqué par le fait que la plupart des
		informations et des personnes dessus se basent uniquement sur ce qui est objectif, ce qui pose pas mal de
		problèmes: ces derniers sont appellées les "objectivistes", et s'opposent donc aux "subjectivistes").
		Ce site est notamment connu pour les revues d'équipements audio de son administrateur nommé Amir, comme
		<a href=https://www.audiosciencereview.com/forum/index.php?threads/topping-dx5-review-dac-hp-amp.32179/
			target="_blank" class="link">celle-ci</a>.
		Ces derniers ont donné en outre une nouvelle approche aux revues du domaine: Amir effectue de très nombreuses
		mesures sur ce qu'il teste, mais laisse son avis de côté, et a donc un point de vue très objectiviste.
		Beaucoup de personnes (dont moi) ont de ce fait découvert de nombreuses notions comme le SINAD, mais Amir aborde
		aussi beaucoup d'autres aspects du son par le biais de graphique, comme le profil harmonique d'un dac/amp, ou
		encore la puissance de sortie et la notion de résistance.
	</p>
	<p>
		Je pourrais continuer de citer d'autres exemples mais cela n'en finirait jamais!
	</p>
	<h3>Aujourd'hui</h3>
	<p>
		Je m'intéresse toujours autant à ce vaste univers, mais le manque de temps m'émancipe un peu de ce dernier. Je
		me focus d'ailleurs moins sur la partie théorique mais plus sur la partie pratique, c'est à dire écouter de la
		musique! Je regarde toujours des vidéos sur le sujet, par exemple du
		<a href="https://www.youtube.com/@TheHEADPHONEShow" target="_blank" class="link">Headphone Show</a>
		ou encore de <a href="https://www.youtube.com/@GoldenSound" target="_blank" class="link">Golden Sound</a>.
		Je cherche toujours à améliorer ma chaine audio (cad. sortie numérique>dac>amp>casque) mais dans la limite du
		résonnable: je pense que finalement, le plus important est de juste apprécier sa musique sans trop se prendre la
		tête.
	</p>
</div>
<div id="vide"></div>

<script>classe("acc", "actif")</script>
{% endblock %}