{% extends 'base.html' %}
{% block head%}{% endblock %}

{% block body%}
<div id="div1-1">
	<div class="spacer"></div>
	<h2>Ressources:</h2>
	<ul>
		<li><a id="acc" href="idsd" class="link">Mon avis sur le iDSD signature (et autres dac high end) (29 Mai
				2023)</a></li>
		<li><a id="acc" href="filtres_test_hqp" class="link">Tests des filtres de reconstruction de HQPlayer (27 Mai
				2023)</a></li>
		<li><a id="acc" href="Comparaison rapide entre le format OGG 320 et MP3 320 vs lossless"
				class="link">Comparaison rapide entre le format OGG 320 et MP3 320 vs lossless (27 Mai 2023)</a></li>
		<li><a id="acc" class="red" href="clic(exercice)/clic" class="link">[ancien]Exercice de NSI "clic" (6 Février
				2023, FLASHBANG WARNING)</a></li>
	</ul>
	<br>

</div>
<div id="vide"></div>
<div id="vide"></div>
<script>classe("res", "actif")</script>
{% endblock %}